.font {
    font-family: 'Raleway', sans-serif;
}

.transition {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.transition-all {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}